@font-face {
    font-family:Proxima-B;
    src: url('fonts/ProximaNova-Semibold.ttf');
    font-display: swap;
    font-weight: normal;
}


@font-face {
    font-family:Proxima;
    src: url('fonts/ProximaNova-Regular.ttf');
    font-display: swap;
    font-weight: normal;

    font-weight: normal;
}


